In [1]:
# Packages

import pencilbox as pb
import pandas as pd
import datetime as dt
import time
import numpy as np
from calendar import monthrange
from datetime import timedelta, datetime, date
import gc
import warnings
import math
warnings.filterwarnings("ignore")

# Connection

CON_TRINO = pb.get_connection("[Warehouse] Trino")
CON_REDSHIFT = pb.get_connection("[Warehouse] Redshift")

def read_sql_query(sql, con):
    max_tries = 1
    for attempt in range(max_tries):
        print(f"Read attempt: {attempt}...")
        try:
            start = time.time()
            df = pd.read_sql_query(sql, con)
            end = time.time()
            if (end - start) > 60:
                print("Time: ", round((end - start) / 60, 2), " min")
            else:
                print("Time: ", round(end - start, 2), " sec")
            return df
            break
        except BaseException as e:
            print(e)
            time.sleep(10)
            
# Viewing configs

pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# pd.set_option("display.max_rows", None)

In [2]:
# start_date = pd.to_datetime(datetime.now() + timedelta(hours = 5.5) - timedelta(days = 26)).date()
# start_date

# Sales Query

In [3]:
sales_query = f"""
with item_product_mapping as
(
    SELECT
        DISTINCT
            ipr.product_id,
            case
                when
                    ipr.item_id is null
                then ipom_0.item_id else ipr.item_id end as item_id,
            case
                when
                    ipr.item_id is not null
                then
                    COALESCE(ipom.multiplier,1)
                else
                    COALESCE(ipom_0.multiplier,1)
                end AS multiplier
    FROM
        lake_rpc.item_product_mapping ipr
    left join
        dwh.dim_item_product_offer_mapping ipom
    on
        ipr.product_id = ipom.product_id
    and
            ipr.item_id = ipom.item_id
    left join
        dwh.dim_item_product_offer_mapping ipom_0
    on
        ipr.product_id = ipom_0.product_id
),

required_items as 
(
    select
        *
    from
        lake_rpc.product_product
    where
    --     active = 1
    -- and
        lower(name) ilike '%%coca-cola%%'
    and
        lower(name) ilike '%%can%%'

),

sales_base as
(
    select
        date(i.cart_checkout_ts_ist) as date,
        cl.name as city,
        i.outlet_id,
        ipm.item_id,
        i.cart_id,
        sum(1.000*i.product_quantity * COALESCE(multiplier,1)) as product_quantity,
        sum(1.000*i.total_selling_price * COALESCE(multiplier,1)) as product_gmv
    from
        dwh.fact_sales_order_item_details i
    
    inner join
        dwh.fact_sales_order_details j
    on
        i.cart_id=j.cart_id
    
    left join
        item_product_mapping ipm
    ON
        i.product_id = ipm.product_id
    
    left join
        lake_rpc.item_category_details icd
    ON
        icd.item_id = ipm.item_id
    
    left join
        lake_retail.console_outlet co
    on
        co.id = i.outlet_id
    and
        co.business_type_id = 7
    
    left join
        lake_retail.console_location cl
    on
        cl.id = tax_location_id
    
    where
        i.cart_checkout_ts_ist >= '2022-01-26'
        AND i.cart_checkout_ts_ist <= '2022-03-28'
    and
        j.is_internal_order = false
    and
        j.order_current_status = 'DELIVERED'
    and
        icd.item_id in (select distinct item_id from required_items)
    group by 1,2,3,4,5
)

SELECT * FROM sales_base
"""
sales_df = read_sql_query(sales_query, CON_REDSHIFT)
sales_df.head()

Read attempt: 0...
Time:  14.41  sec

,date,city,outlet_id,item_id,cart_id,product_quantity,product_gmv
0,2022-01-30,Mumbai,2187.000,10000608,147609146,1.000,39.000
1,2022-01-31,Delhi,2545.000,10000608,147915427,1.000,34.000
2,2022-02-04,Delhi,2939.000,10000608,148844023,6.000,204.000
3,2022-02-11,Gurgaon,2823.000,10004485,150394368,1.000,39.000
4,2022-02-13,Delhi,1505.000,10004491,151080430,2.000,70.000

In [76]:
cart_base_df = sales_df.groupby(['date','city','cart_id']).agg({'item_id':'nunique','product_quantity':'sum','product_gmv':'sum'}).rename(columns={'item_id':'unique_items'}).reset_index()
cart_base_df.head()

,date,city,cart_id,unique_items,product_quantity,product_gmv
0,2023-03-25,Ahmedabad,323275262,1,1.000,38.000
1,2023-03-25,Ahmedabad,332357101,1,2.000,76.000
2,2023-03-25,Ahmedabad,335477883,1,1.000,38.000
3,2023-03-25,Ahmedabad,336366212,1,2.000,76.000
4,2023-03-25,Ahmedabad,336486152,1,2.000,80.000

In [77]:
pure_carts_df = cart_base_df[cart_base_df['unique_items'] == 1]
pure_carts_df = pure_carts_df.groupby(['date','city']).agg({'cart_id':'nunique','product_quantity':'sum','product_gmv':'sum'}).rename(columns={'cart_id':'pure_carts','product_quantity':'pure_product_quantity','product_gmv':'pure_product_gmv'}).reset_index()
pure_carts_df.head()

         date        city  pure_carts  pure_product_quantity  pure_product_gmv
0  2023-03-25   Ahmedabad         129                296.000         11526.000
1  2023-03-25    Amritsar           7                 22.000           880.000
2  2023-03-25   Bengaluru        1108               2671.000        103984.000
3  2023-03-25      Bhopal           3                  5.000           190.000
4  2023-03-25  Chandigarh          71                168.000          6462.000

In [78]:
mix_carts_df = cart_base_df[cart_base_df['unique_items'] > 1]
mix_carts_df = mix_carts_df.groupby(['date','city']).agg({'cart_id':'nunique','product_quantity':'sum','product_gmv':'sum'}).rename(columns={'cart_id':'mix_carts','product_quantity':'mix_product_quantity','product_gmv':'mix_product_gmv'}).reset_index()
mix_carts_df.head()

         date        city  mix_carts  mix_product_quantity  mix_product_gmv
0  2023-03-25   Ahmedabad          9                30.000         1154.000
1  2023-03-25   Bengaluru         91               331.000        12846.000
2  2023-03-25  Chandigarh          2                 8.000          310.000
3  2023-03-25     Chennai          6                16.000          626.000
4  2023-03-25       Delhi         52               189.000         7286.000

In [79]:
total_carts_df = cart_base_df.groupby(['date','city']).agg({'cart_id':'nunique','product_quantity':'sum','product_gmv':'sum'}).rename(columns={'cart_id':'total_carts','product_quantity':'product_quantity','product_gmv':'product_gmv'}).reset_index()
total_carts_df.head()

         date        city  total_carts  product_quantity  product_gmv
0  2023-03-25   Ahmedabad          138           326.000    12680.000
1  2023-03-25    Amritsar            7            22.000      880.000
2  2023-03-25   Bengaluru         1199          3002.000   116830.000
3  2023-03-25      Bhopal            3             5.000      190.000
4  2023-03-25  Chandigarh           73           176.000     6772.000

In [80]:
final_df = total_carts_df.merge(mix_carts_df, on = ['date','city'], how = 'left')
final_df = final_df.merge(pure_carts_df, on = ['date','city'], how = 'left')
final_df = final_df.fillna(0)
final_df.head()

,date,city,total_carts,product_quantity,product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_carts,pure_product_quantity,pure_product_gmv
0,2023-03-25,Ahmedabad,138,326.000,12680.000,9.000,30.000,1154.000,129,296.000,11526.000
1,2023-03-25,Amritsar,7,22.000,880.000,0.000,0.000,0.000,7,22.000,880.000
2,2023-03-25,Bengaluru,1199,3002.000,116830.000,91.000,331.000,12846.000,1108,2671.000,103984.000
3,2023-03-25,Bhopal,3,5.000,190.000,0.000,0.000,0.000,3,5.000,190.000
4,2023-03-25,Chandigarh,73,176.000,6772.000,2.000,8.000,310.000,71,168.000,6462.000

In [81]:
final_df['pure_ratio'] = final_df['pure_carts']/final_df['total_carts']
final_df['mix_ratio'] = final_df['mix_carts']/final_df['total_carts']
final_df.head()

,date,city,total_carts,product_quantity,product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_carts,pure_product_quantity,pure_product_gmv,pure_ratio,mix_ratio
0,2023-03-25,Ahmedabad,138,326.000,12680.000,9.000,30.000,1154.000,129,296.000,11526.000,0.935,0.065
1,2023-03-25,Amritsar,7,22.000,880.000,0.000,0.000,0.000,7,22.000,880.000,1.000,0.000
2,2023-03-25,Bengaluru,1199,3002.000,116830.000,91.000,331.000,12846.000,1108,2671.000,103984.000,0.924,0.076
3,2023-03-25,Bhopal,3,5.000,190.000,0.000,0.000,0.000,3,5.000,190.000,1.000,0.000
4,2023-03-25,Chandigarh,73,176.000,6772.000,2.000,8.000,310.000,71,168.000,6462.000,0.973,0.027

In [82]:
final_df['dow'] = pd.to_datetime(final_df['date']).dt.dayofweek
final_df.head(2)

,date,city,total_carts,product_quantity,product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_carts,pure_product_quantity,pure_product_gmv,pure_ratio,mix_ratio,dow
0,2023-03-25,Ahmedabad,138,326.000,12680.000,9.000,30.000,1154.000,129,296.000,11526.000,0.935,0.065,5
1,2023-03-25,Amritsar,7,22.000,880.000,0.000,0.000,0.000,7,22.000,880.000,1.000,0.000,5

In [83]:
event_date = pd.to_datetime('2022-03-26')
comp_date_lw = event_date - timedelta(days = 7)
required_dow = event_date.dayofweek

print(event_date, comp_date_lw, required_dow)

#final_df['comp_date_lw'] = final_df['date'] - timedelta(days = 7)

#final_df['required_dow'] = pd.to_datetime(final_df['date']).dt.dayofweek

#final_df.head(2)

2022-03-26 00:00:00 2022-03-19 00:00:00 5

In [84]:
event_date_df = final_df[pd.to_datetime(final_df['date']) == pd.to_datetime(event_date)]
event_date_df.head()

Empty DataFrame
Columns: [date, city, total_carts, product_quantity, product_gmv, mix_carts, mix_product_quantity, mix_product_gmv, pure_carts, pure_product_quantity, pure_product_gmv, pure_ratio, mix_ratio, dow]
Index: []

In [85]:
comp_date_lw_df = final_df[pd.to_datetime(final_df['date']) == pd.to_datetime(comp_date_lw)]
comp_date_lw_df.head()

Empty DataFrame
Columns: [date, city, total_carts, product_quantity, product_gmv, mix_carts, mix_product_quantity, mix_product_gmv, pure_carts, pure_product_quantity, pure_product_gmv, pure_ratio, mix_ratio, dow]
Index: []

In [86]:
dow_df = final_df[(pd.to_datetime(final_df['date']) >= pd.to_datetime(event_date) - timedelta(days = 30)) & (pd.to_datetime(final_df['date']) <= pd.to_datetime(event_date) - timedelta(days = 1))& (final_df['dow'] == required_dow)]
#dow_df = final_df[(pd.to_datetime(final_df['date']) == pd.to_datetime(event_date) - timedelta(days = 30))]
dow_df.head()

Empty DataFrame
Columns: [date, city, total_carts, product_quantity, product_gmv, mix_carts, mix_product_quantity, mix_product_gmv, pure_carts, pure_product_quantity, pure_product_gmv, pure_ratio, mix_ratio, dow]
Index: []

In [75]:
comp_date_lw_df = comp_date_lw_df[['city', 'total_carts', 'product_quantity', 'product_gmv','mix_carts','mix_product_quantity','mix_product_gmv','pure_carts','pure_product_quantity','pure_product_gmv']]
comp_date_lw_df.columns = ['city', 'lw_total_carts', 'lw_product_quantity', 'lw_product_gmv','lw_mix_carts','lw_mix_product_quantity','lw_mix_product_gmv','lw_pure_carts','lw_pure_product_quantity','lw_pure_product_gmv']
comp_date_lw_df.head()

KeyError: "['total_carts', 'product_quantity', 'product_gmv', 'mix_carts', 'mix_product_quantity', 'mix_product_gmv', 'pure_carts', 'pure_product_quantity', 'pure_product_gmv'] not in index"

In [16]:
dow_df = dow_df.groupby(['city']).agg({'total_carts':'mean', 'product_quantity':'mean', 'product_gmv':'mean','mix_carts':'mean','mix_product_quantity':'mean','mix_product_gmv':'mean','pure_carts':'mean','pure_product_quantity':'mean','pure_product_gmv':'mean'}).reset_index()
#dow_df = dow_df[['city', 'total_carts', 'product_quantity', 'product_gmv','mix_carts','mix_product_quantity','mix_product_gmv','pure_carts','pure_product_quantity','pure_product_gmv']]
dow_df.columns = ['city', 'dow_total_carts', 'dow_product_quantity', 'dow_product_gmv','dow_mix_carts','dow_mix_product_quantity','dow_mix_product_gmv','dow_pure_carts','dow_pure_product_quantity','dow_pure_product_gmv']
dow_df.head()

,city,dow_total_carts,dow_product_quantity,dow_product_gmv,dow_mix_carts,dow_mix_product_quantity,dow_mix_product_gmv,dow_pure_carts,dow_pure_product_quantity,dow_pure_product_gmv
0,Ahmedabad,17.250,49.500,2179.500,2.500,9.250,363.500,14.750,40.250,1816.000
1,Bengaluru,196.000,461.750,18443.750,11.500,59.750,2308.500,184.500,402.000,16135.250
2,Chandigarh,8.500,19.000,742.000,0.250,6.000,234.000,8.250,13.000,508.000
3,Chennai,4.333,12.000,466.333,0.000,0.000,0.000,4.333,12.000,466.333
4,Delhi,372.750,985.000,38248.500,23.750,113.000,4303.250,349.000,872.000,33945.250

In [17]:
event_date_df = pd.merge(event_date_df, comp_date_lw_df, on = ['city'], how = 'left')
event_date_df = pd.merge(event_date_df, dow_df, on = ['city'], how = 'left')

In [18]:
event_date_df.head()

,date,city,total_carts,product_quantity,product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_carts,pure_product_quantity,pure_product_gmv,pure_ratio,mix_ratio,dow,lw_total_carts,lw_product_quantity,lw_product_gmv,lw_mix_carts,lw_mix_product_quantity,lw_mix_product_gmv,lw_pure_carts,lw_pure_product_quantity,lw_pure_product_gmv,dow_total_carts,dow_product_quantity,dow_product_gmv,dow_mix_carts,dow_mix_product_quantity,dow_mix_product_gmv,dow_pure_carts,dow_pure_product_quantity,dow_pure_product_gmv
0,2022-03-26,Ahmedabad,25,93.000,6567.000,5.000,26.000,1992.000,20.000,67.000,4575.000,0.800,0.200,5,21,56.000,3172.000,3.000,15.000,592.000,18.000,41.000,2580.000,17.250,49.500,2179.500,2.500,9.250,363.500,14.750,40.250,1816.000
1,2022-03-26,Bengaluru,222,544.000,39769.000,18.000,56.000,4132.000,204.000,488.000,35637.000,0.919,0.081,5,242,488.000,21150.000,14.000,46.000,1813.000,228.000,442.000,19337.000,196.000,461.750,18443.750,11.500,59.750,2308.500,184.500,402.000,16135.250
2,2022-03-26,Chandigarh,5,19.000,2675.000,0.000,0.000,0.000,5.000,19.000,2675.000,1.000,0.000,5,15,21.000,819.000,0.000,0.000,0.000,15.000,21.000,819.000,8.500,19.000,742.000,0.250,6.000,234.000,8.250,13.000,508.000
3,2022-03-26,Chennai,2,5.000,195.000,0.000,0.000,0.000,2.000,5.000,195.000,1.000,0.000,5,3,9.000,351.000,0.000,0.000,0.000,3.000,9.000,351.000,4.333,12.000,466.333,0.000,0.000,0.000,4.333,12.000,466.333
4,2022-03-26,Delhi,599,1651.000,89150.000,54.000,297.000,15558.000,545.000,1354.000,73592.000,0.910,0.090,5,254,697.000,31240.000,17.000,94.000,3706.000,237.000,603.000,27534.000,372.750,985.000,38248.500,23.750,113.000,4303.250,349.000,872.000,33945.250

In [19]:
# event_date_df = event_date_df.fillna(0)
event_date_df['lift_lw_total'] = np.where(event_date_df['lw_total_carts'] == 0, 0.2, (event_date_df['total_carts'] / event_date_df['lw_total_carts']) - 1)
event_date_df['lift_dow_total'] = np.where(event_date_df['dow_total_carts'] == 0, 0.2, (event_date_df['total_carts'] / event_date_df['dow_total_carts']) - 1)

event_date_df['lift_lw_pure'] = np.where(event_date_df['lw_pure_carts'] == 0, 0.2, (event_date_df['pure_carts'] / event_date_df['lw_pure_carts']) - 1)
event_date_df['lift_dow_pure'] = np.where(event_date_df['dow_pure_carts'] == 0, 0.2, (event_date_df['pure_carts'] / event_date_df['dow_pure_carts']) - 1)

event_date_df['lift_lw_mix'] = np.where(event_date_df['lw_mix_carts'] == 0, 0.2, (event_date_df['mix_carts'] / event_date_df['lw_mix_carts']) - 1)
event_date_df['lift_dow_mix'] = np.where(event_date_df['dow_mix_carts'] == 0, 0.2, (event_date_df['mix_carts'] / event_date_df['dow_mix_carts']) - 1)

event_date_df = event_date_df.fillna(0)
#event_date_df = event_date_df[['date', 'dow', 'city', 'total_carts', 'lw_carts', 'dow_carts', 'product_quantity', 'lw_quantity', 'dow_quantity', 'lift_lw', 'lift_dow',]]
event_date_df.head()

,date,city,total_carts,product_quantity,product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_carts,pure_product_quantity,pure_product_gmv,pure_ratio,mix_ratio,dow,lw_total_carts,lw_product_quantity,lw_product_gmv,lw_mix_carts,lw_mix_product_quantity,lw_mix_product_gmv,lw_pure_carts,lw_pure_product_quantity,lw_pure_product_gmv,dow_total_carts,dow_product_quantity,dow_product_gmv,dow_mix_carts,dow_mix_product_quantity,dow_mix_product_gmv,dow_pure_carts,dow_pure_product_quantity,dow_pure_product_gmv,lift_lw_total,lift_dow_total,lift_lw_pure,lift_dow_pure,lift_lw_mix,lift_dow_mix
0,2022-03-26,Ahmedabad,25,93.000,6567.000,5.000,26.000,1992.000,20.000,67.000,4575.000,0.800,0.200,5,21,56.000,3172.000,3.000,15.000,592.000,18.000,41.000,2580.000,17.250,49.500,2179.500,2.500,9.250,363.500,14.750,40.250,1816.000,0.190,0.449,0.111,0.356,0.667,1.000
1,2022-03-26,Bengaluru,222,544.000,39769.000,18.000,56.000,4132.000,204.000,488.000,35637.000,0.919,0.081,5,242,488.000,21150.000,14.000,46.000,1813.000,228.000,442.000,19337.000,196.000,461.750,18443.750,11.500,59.750,2308.500,184.500,402.000,16135.250,-0.083,0.133,-0.105,0.106,0.286,0.565
2,2022-03-26,Chandigarh,5,19.000,2675.000,0.000,0.000,0.000,5.000,19.000,2675.000,1.000,0.000,5,15,21.000,819.000,0.000,0.000,0.000,15.000,21.000,819.000,8.500,19.000,742.000,0.250,6.000,234.000,8.250,13.000,508.000,-0.667,-0.412,-0.667,-0.394,0.200,-1.000
3,2022-03-26,Chennai,2,5.000,195.000,0.000,0.000,0.000,2.000,5.000,195.000,1.000,0.000,5,3,9.000,351.000,0.000,0.000,0.000,3.000,9.000,351.000,4.333,12.000,466.333,0.000,0.000,0.000,4.333,12.000,466.333,-0.333,-0.538,-0.333,-0.538,0.200,0.200
4,2022-03-26,Delhi,599,1651.000,89150.000,54.000,297.000,15558.000,545.000,1354.000,73592.000,0.910,0.090,5,254,697.000,31240.000,17.000,94.000,3706.000,237.000,603.000,27534.000,372.750,985.000,38248.500,23.750,113.000,4303.250,349.000,872.000,33945.250,1.358,0.607,1.300,0.562,2.176,1.274

In [87]:
event_date_df[event_date_df['city']=='Kolkata']

Empty DataFrame
Columns: [date, city, total_carts, product_quantity, product_gmv, mix_carts, mix_product_quantity, mix_product_gmv, pure_carts, pure_product_quantity, pure_product_gmv, pure_ratio, mix_ratio, dow]
Index: []

In [21]:
event_date_df['anticipated_lift_total'] = (event_date_df['lift_lw_total'] + event_date_df['lift_dow_total']) / 2
event_date_df['anticipated_lift_pure'] = (event_date_df['lift_lw_pure'] + event_date_df['lift_dow_pure']) / 2
event_date_df['anticipated_lift_mix'] = (event_date_df['lift_lw_mix'] + event_date_df['lift_dow_mix']) / 2

#event_date_df = event_date_df[['date', 'dow', 'city', 'total_carts', 'lw_carts', 'dow_carts','product_quantity', 'lw_quantity', 'dow_quantity', 'lift_lw', 'lift_dow', 'anticipated_lift', 'product_gmv', 'lw_gmv', 'dow_gmv',]]

In [22]:
event_date_df.head(2)

,date,city,total_carts,product_quantity,product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_carts,pure_product_quantity,pure_product_gmv,pure_ratio,mix_ratio,dow,lw_total_carts,lw_product_quantity,lw_product_gmv,lw_mix_carts,lw_mix_product_quantity,lw_mix_product_gmv,lw_pure_carts,lw_pure_product_quantity,lw_pure_product_gmv,dow_total_carts,dow_product_quantity,dow_product_gmv,dow_mix_carts,dow_mix_product_quantity,dow_mix_product_gmv,dow_pure_carts,dow_pure_product_quantity,dow_pure_product_gmv,lift_lw_total,lift_dow_total,lift_lw_pure,lift_dow_pure,lift_lw_mix,lift_dow_mix,anticipated_lift_total,anticipated_lift_pure,anticipated_lift_mix
0,2022-03-26,Ahmedabad,25,93.000,6567.000,5.000,26.000,1992.000,20.000,67.000,4575.000,0.800,0.200,5,21,56.000,3172.000,3.000,15.000,592.000,18.000,41.000,2580.000,17.250,49.500,2179.500,2.500,9.250,363.500,14.750,40.250,1816.000,0.190,0.449,0.111,0.356,0.667,1.000,0.320,0.234,0.833
1,2022-03-26,Bengaluru,222,544.000,39769.000,18.000,56.000,4132.000,204.000,488.000,35637.000,0.919,0.081,5,242,488.000,21150.000,14.000,46.000,1813.000,228.000,442.000,19337.000,196.000,461.750,18443.750,11.500,59.750,2308.500,184.500,402.000,16135.250,-0.083,0.133,-0.105,0.106,0.286,0.565,0.025,0.000,0.425

In [23]:
event_date_df.columns

Index(['date', 'city', 'total_carts', 'product_quantity', 'product_gmv',
       'mix_carts', 'mix_product_quantity', 'mix_product_gmv', 'pure_carts',
       'pure_product_quantity', 'pure_product_gmv', 'pure_ratio', 'mix_ratio',
       'dow', 'lw_total_carts', 'lw_product_quantity', 'lw_product_gmv',
       'lw_mix_carts', 'lw_mix_product_quantity', 'lw_mix_product_gmv',
       'lw_pure_carts', 'lw_pure_product_quantity', 'lw_pure_product_gmv',
       'dow_total_carts', 'dow_product_quantity', 'dow_product_gmv',
       'dow_mix_carts', 'dow_mix_product_quantity', 'dow_mix_product_gmv',
       'dow_pure_carts', 'dow_pure_product_quantity', 'dow_pure_product_gmv',
       'lift_lw_total', 'lift_dow_total', 'lift_lw_pure', 'lift_dow_pure',
       'lift_lw_mix', 'lift_dow_mix', 'anticipated_lift_total',
       'anticipated_lift_pure', 'anticipated_lift_mix'],
      dtype='object')

In [24]:
overall_df = event_date_df.groupby(['date', 'dow']).agg({
    'total_carts':'sum', 'lw_total_carts':'sum', 'dow_total_carts':'sum', 'product_quantity':'sum', 'lw_product_quantity':'sum', 
    'dow_product_quantity':'sum', 'product_gmv':'sum', 'lw_product_gmv':'sum', 'dow_product_gmv':'sum', 
    'pure_carts':'sum', 'lw_pure_carts':'sum', 'dow_pure_carts':'sum', 'pure_product_quantity':'sum', 'lw_pure_product_quantity':'sum', 
    'dow_pure_product_quantity':'sum', 'pure_product_gmv':'sum', 'lw_pure_product_gmv':'sum', 'dow_pure_product_gmv':'sum',
    'mix_carts':'sum', 'lw_mix_carts':'sum', 'dow_mix_carts':'sum', 'mix_product_quantity':'sum', 'lw_mix_product_quantity':'sum', 
    'dow_mix_product_quantity':'sum', 'mix_product_gmv':'sum', 'lw_mix_product_gmv':'sum', 'dow_mix_product_gmv':'sum','pure_ratio':'mean','mix_ratio':'mean'
}).reset_index()


overall_df['lift_lw_total'] = np.where(overall_df['lw_total_carts'] == 0, 0.2, (overall_df['total_carts'] / overall_df['lw_total_carts']) - 1)
overall_df['lift_dow_total'] = np.where(overall_df['dow_total_carts'] == 0, 0.2, (overall_df['total_carts'] / overall_df['dow_total_carts']) - 1)
overall_df['anticipated_lift_total'] = (overall_df['lift_lw_total'] + overall_df['lift_dow_total']) / 2

overall_df['lift_lw_pure'] = np.where(overall_df['lw_total_carts'] == 0, 0.2, (overall_df['pure_carts'] / overall_df['lw_total_carts']) - 1)
overall_df['lift_dow_pure'] = np.where(overall_df['dow_total_carts'] == 0, 0.2, (overall_df['pure_carts'] / overall_df['dow_total_carts']) - 1)
overall_df['anticipated_lift_pure'] = (overall_df['lift_lw_pure'] + overall_df['lift_dow_pure']) / 2

overall_df['lift_lw_mix'] = np.where(overall_df['lw_mix_carts'] == 0, 0.2, (overall_df['mix_carts'] / overall_df['lw_mix_carts']) - 1)
overall_df['lift_dow_mix'] = np.where(overall_df['dow_mix_carts'] == 0, 0.2, (overall_df['mix_carts'] / overall_df['dow_mix_carts']) - 1)
overall_df['anticipated_lift_mix'] = (overall_df['lift_lw_mix'] + overall_df['lift_dow_mix']) / 2

overall_df['city'] = 'All'

#overall_df = overall_df[['date', 'dow', 'city', 'total_carts', 'lw_carts', 'dow_carts','product_quantity', 'lw_quantity', 'dow_quantity', 'lift_lw', 'lift_dow', 'anticipated_lift', 'product_gmv', 'lw_gmv', 'dow_gmv',]]

In [25]:
overall_df.head()

,date,dow,total_carts,lw_total_carts,dow_total_carts,product_quantity,lw_product_quantity,dow_product_quantity,product_gmv,lw_product_gmv,dow_product_gmv,pure_carts,lw_pure_carts,dow_pure_carts,pure_product_quantity,lw_pure_product_quantity,dow_pure_product_quantity,pure_product_gmv,lw_pure_product_gmv,dow_pure_product_gmv,mix_carts,lw_mix_carts,dow_mix_carts,mix_product_quantity,lw_mix_product_quantity,dow_mix_product_quantity,mix_product_gmv,lw_mix_product_gmv,dow_mix_product_gmv,pure_ratio,mix_ratio,lift_lw_total,lift_dow_total,anticipated_lift_total,lift_lw_pure,lift_dow_pure,anticipated_lift_pure,lift_lw_mix,lift_dow_mix,anticipated_lift_mix,city
0,2022-03-26,5,2248,1212,1542.500,6375.000,3265.000,4061.417,394135.000,167948.000,165268.667,2033.000,1128.000,1433.667,5342.000,2851.000,3541.917,337967.000,148745.000,144618.583,215.000,84.000,108.833,1033.000,414.000,519.500,56168.000,19203.000,20650.083,0.925,0.075,0.855,0.457,0.656,0.677,0.318,0.498,1.560,0.975,1.268,All

In [26]:
event_date_df = pd.concat([overall_df, event_date_df,])
event_date_df = event_date_df[event_date_df.city != '0']

event_date_df.sort_values(by = ['city']).to_csv('event_date_df.csv', index = False)

event_date_df.head()

,date,dow,total_carts,lw_total_carts,dow_total_carts,product_quantity,lw_product_quantity,dow_product_quantity,product_gmv,lw_product_gmv,dow_product_gmv,pure_carts,lw_pure_carts,dow_pure_carts,pure_product_quantity,lw_pure_product_quantity,dow_pure_product_quantity,pure_product_gmv,lw_pure_product_gmv,dow_pure_product_gmv,mix_carts,lw_mix_carts,dow_mix_carts,mix_product_quantity,lw_mix_product_quantity,dow_mix_product_quantity,mix_product_gmv,lw_mix_product_gmv,dow_mix_product_gmv,pure_ratio,mix_ratio,lift_lw_total,lift_dow_total,anticipated_lift_total,lift_lw_pure,lift_dow_pure,anticipated_lift_pure,lift_lw_mix,lift_dow_mix,anticipated_lift_mix,city
0,2022-03-26,5,2248,1212,1542.500,6375.000,3265.000,4061.417,394135.000,167948.000,165268.667,2033.000,1128.000,1433.667,5342.000,2851.000,3541.917,337967.000,148745.000,144618.583,215.000,84.000,108.833,1033.000,414.000,519.500,56168.000,19203.000,20650.083,0.925,0.075,0.855,0.457,0.656,0.677,0.318,0.498,1.560,0.975,1.268,All
0,2022-03-26,5,25,21,17.250,93.000,56.000,49.500,6567.000,3172.000,2179.500,20.000,18.000,14.750,67.000,41.000,40.250,4575.000,2580.000,1816.000,5.000,3.000,2.500,26.000,15.000,9.250,1992.000,592.000,363.500,0.800,0.200,0.190,0.449,0.320,0.111,0.356,0.234,0.667,1.000,0.833,Ahmedabad
1,2022-03-26,5,222,242,196.000,544.000,488.000,461.750,39769.000,21150.000,18443.750,204.000,228.000,184.500,488.000,442.000,402.000,35637.000,19337.000,16135.250,18.000,14.000,11.500,56.000,46.000,59.750,4132.000,1813.000,2308.500,0.919,0.081,-0.083,0.133,0.025,-0.105,0.106,0.000,0.286,0.565,0.425,Bengaluru
2,2022-03-26,5,5,15,8.500,19.000,21.000,19.000,2675.000,819.000,742.000,5.000,15.000,8.250,19.000,21.000,13.000,2675.000,819.000,508.000,0.000,0.000,0.250,0.000,0.000,6.000,0.000,0.000,234.000,1.000,0.000,-0.667,-0.412,-0.539,-0.667,-0.394,-0.530,0.200,-1.000,-0.400,Chandigarh
3,2022-03-26,5,2,3,4.333,5.000,9.000,12.000,195.000,351.000,466.333,2.000,3.000,4.333,5.000,9.000,12.000,195.000,351.000,466.333,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,-0.333,-0.538,-0.436,-0.333,-0.538,-0.436,0.200,0.200,0.200,Chennai

In [74]:
event_date_df[event_date_df['city']=='Kolkata']

,date,dow,total_carts,lw_total_carts,dow_total_carts,product_quantity,lw_product_quantity,dow_product_quantity,product_gmv,lw_product_gmv,dow_product_gmv,pure_carts,lw_pure_carts,dow_pure_carts,pure_product_quantity,lw_pure_product_quantity,dow_pure_product_quantity,pure_product_gmv,lw_pure_product_gmv,dow_pure_product_gmv,mix_carts,lw_mix_carts,dow_mix_carts,mix_product_quantity,lw_mix_product_quantity,dow_mix_product_quantity,mix_product_gmv,lw_mix_product_gmv,dow_mix_product_gmv,pure_ratio,mix_ratio,lift_lw_total,lift_dow_total,anticipated_lift_total,lift_lw_pure,lift_dow_pure,anticipated_lift_pure,lift_lw_mix,lift_dow_mix,anticipated_lift_mix,city
12,2022-03-26,5,174,8,42.250,476.000,8.000,68.000,18866.000,276.000,2387.000,161.000,8.000,41.500,426.000,8.000,66.500,16892.000,276.000,2334.750,13.000,0.000,0.750,50.000,0.000,1.500,1974.000,0.000,52.250,0.925,0.075,20.750,3.118,11.934,19.125,2.880,11.002,0.200,16.333,8.267,Kolkata

In [38]:
median_total = event_date_df['anticipated_lift_total'].median()
event_date_df['anticipated_lift_total'] = np.where(event_date_df['anticipated_lift_total'] <= 0, median_total, event_date_df['anticipated_lift_total'])

median_pure = event_date_df['anticipated_lift_pure'].median()
event_date_df['anticipated_lift_pure'] = np.where(event_date_df['anticipated_lift_pure'] <= 0, median_pure, event_date_df['anticipated_lift_pure'])

median_mix = event_date_df['anticipated_lift_mix'].median()
event_date_df['anticipated_lift_mix'] = np.where(event_date_df['anticipated_lift_mix'] <= 0, median_mix, event_date_df['anticipated_lift_mix'])

In [29]:
lift_df = event_date_df[['dow','city','anticipated_lift_total','anticipated_lift_pure','anticipated_lift_mix']]

In [30]:
lift_df.head()

,dow,city,anticipated_lift_total,anticipated_lift_pure,anticipated_lift_mix
0,5,All,0.656,0.498,1.268
0,5,Ahmedabad,0.320,0.234,0.833
1,5,Bengaluru,0.025,0.000,0.425
2,5,Chandigarh,0.320,0.389,0.200
3,5,Chennai,0.320,0.389,0.200

In [31]:
current_date = pd.to_datetime('2023-04-01')
current_date_lw = current_date - timedelta(days = 7)
current_date_required_dow = current_date.dayofweek

print(current_date, current_date_lw, current_date_required_dow)

2023-04-01 00:00:00 2023-03-25 00:00:00 5

In [32]:
sales_query = f"""
with item_product_mapping as
(
    SELECT
        DISTINCT
            ipr.product_id,
            case
                when
                    ipr.item_id is null
                then ipom_0.item_id else ipr.item_id end as item_id,
            case
                when
                    ipr.item_id is not null
                then
                    COALESCE(ipom.multiplier,1)
                else
                    COALESCE(ipom_0.multiplier,1)
                end AS multiplier
    FROM
        lake_rpc.item_product_mapping ipr
    left join
        dwh.dim_item_product_offer_mapping ipom
    on
        ipr.product_id = ipom.product_id
    and
            ipr.item_id = ipom.item_id
    left join
        dwh.dim_item_product_offer_mapping ipom_0
    on
        ipr.product_id = ipom_0.product_id
),

required_items as 
(
    select
        *
    from
        lake_rpc.product_product
    where
    --     active = 1
    -- and
        lower(name) ilike '%%coca-cola%%'
    and
        lower(name) ilike '%%can%%'

),

sales_base as
(
    select
        date(i.cart_checkout_ts_ist) as date,
        cl.name as city,
        i.outlet_id,
        ipm.item_id,
        i.cart_id,
        sum(1.000*i.product_quantity * COALESCE(multiplier,1)) as product_quantity,
        sum(1.000*i.total_selling_price * COALESCE(multiplier,1)) as product_gmv
    from
        dwh.fact_sales_order_item_details i
    
    inner join
        dwh.fact_sales_order_details j
    on
        i.cart_id=j.cart_id
    
    left join
        item_product_mapping ipm
    ON
        i.product_id = ipm.product_id
    
    left join
        lake_rpc.item_category_details icd
    ON
        icd.item_id = ipm.item_id
    
    left join
        lake_retail.console_outlet co
    on
        co.id = i.outlet_id
    and
        co.business_type_id = 7
    
    left join
        lake_retail.console_location cl
    on
        cl.id = tax_location_id
    
    where
        i.cart_checkout_ts_ist >= '2023-03-25'
    and
        j.is_internal_order = false
    and
        j.order_current_status = 'DELIVERED'
    and
        icd.item_id in (select distinct item_id from required_items)
    group by 1,2,3,4,5
)

SELECT * FROM sales_base
"""
sales_df = read_sql_query(sales_query, CON_REDSHIFT)
sales_df.head()

Read attempt: 0...
Time:  19.63  sec

,date,city,outlet_id,item_id,cart_id,product_quantity,product_gmv
0,2023-03-25,Delhi,2944.000,10000608,335856343,4.000,152.000
1,2023-03-25,Pune,2216.000,10000608,344022982,1.000,38.000
2,2023-03-25,Pune,3638.000,10004491,344156211,2.000,80.000
3,2023-03-25,Hyderabad,1881.000,10004491,344123659,3.000,120.000
4,2023-03-26,Mumbai,1902.000,10004491,344418819,1.000,40.000

In [52]:
sales_df = sales_df[sales_df['date'] == pd.to_datetime('2023-03-25')]
sales_df.head()

,date,city,outlet_id,item_id,cart_id,product_quantity,product_gmv
0,2023-03-25,Delhi,2944.000,10000608,335856343,4.000,152.000
1,2023-03-25,Pune,2216.000,10000608,344022982,1.000,38.000
2,2023-03-25,Pune,3638.000,10004491,344156211,2.000,80.000
3,2023-03-25,Hyderabad,1881.000,10004491,344123659,3.000,120.000
33,2023-03-25,Gurgaon,2346.000,10004491,344145206,2.000,80.000

In [65]:
cart_base_df = sales_df.groupby(['date','city','cart_id']).agg({'item_id':'nunique','product_quantity':'sum','product_gmv':'sum'}).rename(columns={'item_id':'unique_items'}).reset_index()

pure_carts_df = cart_base_df[cart_base_df['unique_items'] == 1]
pure_carts_df = pure_carts_df.groupby(['date','city']).agg({'cart_id':'nunique','product_quantity':'sum','product_gmv':'sum'}).rename(columns={'cart_id':'pure_carts','product_quantity':'pure_product_quantity','product_gmv':'pure_product_gmv'}).reset_index()

mix_carts_df = cart_base_df[cart_base_df['unique_items'] > 1]
mix_carts_df = mix_carts_df.groupby(['date','city']).agg({'cart_id':'nunique','product_quantity':'sum','product_gmv':'sum'}).rename(columns={'cart_id':'mix_carts','product_quantity':'mix_product_quantity','product_gmv':'mix_product_gmv'}).reset_index()

total_carts_df = cart_base_df.groupby(['date','city']).agg({'cart_id':'nunique','product_quantity':'sum','product_gmv':'sum'}).rename(columns={'cart_id':'total_carts','product_quantity':'product_quantity','product_gmv':'product_gmv'}).reset_index()

final_df = total_carts_df.merge(mix_carts_df, on = ['date','city'], how = 'left')
final_df = final_df.merge(pure_carts_df, on = ['date','city'], how = 'left')
final_df = final_df.fillna(0)

final_df['pure_ratio'] = final_df['pure_carts']/final_df['total_carts']
final_df['mix_ratio'] = final_df['mix_carts']/final_df['total_carts']

final_df['dow'] = pd.to_datetime(final_df['date']).dt.dayofweek
final_df.head()

,date,city,total_carts,product_quantity,product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_carts,pure_product_quantity,pure_product_gmv,pure_ratio,mix_ratio,dow
0,2023-03-25,Ahmedabad,138,326.000,12680.000,9.000,30.000,1154.000,129,296.000,11526.000,0.935,0.065,5
1,2023-03-25,Amritsar,7,22.000,880.000,0.000,0.000,0.000,7,22.000,880.000,1.000,0.000,5
2,2023-03-25,Bengaluru,1199,3002.000,116830.000,91.000,331.000,12846.000,1108,2671.000,103984.000,0.924,0.076,5
3,2023-03-25,Bhopal,3,5.000,190.000,0.000,0.000,0.000,3,5.000,190.000,1.000,0.000,5
4,2023-03-25,Chandigarh,73,176.000,6772.000,2.000,8.000,310.000,71,168.000,6462.000,0.973,0.027,5

In [66]:
overall_df = final_df.groupby(['date', 'dow']).agg({
    'total_carts':'sum','product_quantity':'sum','product_gmv':'sum','pure_carts':'sum','pure_product_quantity':'sum','pure_product_gmv':'sum',
    'mix_carts':'sum','mix_product_quantity':'sum', 'mix_product_gmv':'sum','pure_ratio':'mean','mix_ratio':'mean'}).reset_index()
overall_df['city'] = 'All'
overall_df.head()

,date,dow,total_carts,product_quantity,product_gmv,pure_carts,pure_product_quantity,pure_product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_ratio,mix_ratio,city
0,2023-03-25,5,5812,15311.000,716704.000,5501,14084.000,665624.000,311.000,1227.000,51080.000,0.957,0.043,All

In [67]:
final_df = pd.concat([overall_df, final_df,])

In [68]:
final_df = final_df.merge(lift_df, on=['dow','city'], how='left')
final_df.head()

,date,dow,total_carts,product_quantity,product_gmv,pure_carts,pure_product_quantity,pure_product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_ratio,mix_ratio,city,anticipated_lift_total,anticipated_lift_pure,anticipated_lift_mix
0,2023-03-25,5,5812,15311.000,716704.000,5501,14084.000,665624.000,311.000,1227.000,51080.000,0.957,0.043,All,0.656,0.498,1.268
1,2023-03-25,5,138,326.000,12680.000,129,296.000,11526.000,9.000,30.000,1154.000,0.935,0.065,Ahmedabad,0.320,0.234,0.833
2,2023-03-25,5,7,22.000,880.000,7,22.000,880.000,0.000,0.000,0.000,1.000,0.000,Amritsar,NaN,NaN,NaN
3,2023-03-25,5,1199,3002.000,116830.000,1108,2671.000,103984.000,91.000,331.000,12846.000,0.924,0.076,Bengaluru,0.025,0.000,0.425
4,2023-03-25,5,3,5.000,190.000,3,5.000,190.000,0.000,0.000,0.000,1.000,0.000,Bhopal,NaN,NaN,NaN

In [69]:
final_df.shape

(25, 17)

In [70]:
non_available_store_total = len(final_df[final_df['anticipated_lift_total'].isna()])
median_total = median_total/non_available_store_total
final_df['anticipated_lift_total'] = np.where(final_df['anticipated_lift_total'].isna(), median_total, final_df['anticipated_lift_total'])

non_available_store_pure = len(final_df[final_df['anticipated_lift_pure'].isna()])
median_pure = median_pure/non_available_store_pure
final_df['anticipated_lift_pure'] = np.where(final_df['anticipated_lift_pure'].isna(), median_pure, final_df['anticipated_lift_pure'])

non_available_store_mix = len(final_df[final_df['anticipated_lift_mix'].isna()])
median_mix = median_mix/non_available_store_pure
final_df['anticipated_lift_mix'] = np.where(final_df['anticipated_lift_mix'].isna(), median_mix, final_df['anticipated_lift_mix'])

In [71]:
result_df = final_df.copy()

result_df['new_total_carts'] = result_df['total_carts'] + (result_df['total_carts'] * result_df['anticipated_lift_total'])
result_df['new_pure_total_carts'] = result_df['pure_carts'] + (result_df['pure_carts'] * result_df['anticipated_lift_pure'])
result_df['new_mix_total_carts'] = result_df['mix_carts'] + (result_df['mix_carts'] * result_df['anticipated_lift_mix'])

result_df['qpc_total'] = result_df['total_carts']/result_df['new_total_carts']
result_df['qpc_pure'] = result_df['pure_carts']/result_df['new_pure_total_carts']
result_df['qpc_mix'] = result_df['mix_carts']/result_df['new_mix_total_carts']

result_df['cp_total'] = result_df['new_total_carts']/sum(result_df['new_total_carts'])
result_df['cp_pure'] = result_df['new_pure_total_carts']/sum(result_df['new_pure_total_carts'])
result_df['cp_mix'] = result_df['new_mix_total_carts']/sum(result_df['new_mix_total_carts'])

result_df= result_df.fillna(0)

result_df.head()

,date,dow,total_carts,product_quantity,product_gmv,pure_carts,pure_product_quantity,pure_product_gmv,mix_carts,mix_product_quantity,mix_product_gmv,pure_ratio,mix_ratio,city,anticipated_lift_total,anticipated_lift_pure,anticipated_lift_mix,new_total_carts,new_pure_total_carts,new_mix_total_carts,qpc_total,qpc_pure,qpc_mix,cp_total,cp_pure,cp_mix
0,2023-03-25,5,5812,15311.000,716704.000,5501,14084.000,665624.000,311.000,1227.000,51080.000,0.957,0.043,All,0.656,0.498,1.268,9625.137,8238.801,705.196,0.604,0.668,0.441,0.411,0.395,0.489
1,2023-03-25,5,138,326.000,12680.000,129,296.000,11526.000,9.000,30.000,1154.000,0.935,0.065,Ahmedabad,0.320,0.234,0.833,182.143,159.124,16.500,0.758,0.811,0.545,0.008,0.008,0.011
2,2023-03-25,5,7,22.000,880.000,7,22.000,880.000,0.000,0.000,0.000,1.000,0.000,Amritsar,0.013,0.016,0.008,7.090,7.109,0.000,0.987,0.985,0.000,0.000,0.000,0.000
3,2023-03-25,5,1199,3002.000,116830.000,1108,2671.000,103984.000,91.000,331.000,12846.000,0.924,0.076,Bengaluru,0.025,0.000,0.425,1228.980,1108.237,129.717,0.976,1.000,0.702,0.053,0.053,0.090
4,2023-03-25,5,3,5.000,190.000,3,5.000,190.000,0.000,0.000,0.000,1.000,0.000,Bhopal,0.013,0.016,0.008,3.038,3.047,0.000,0.987,0.985,0.000,0.000,0.000,0.000

In [72]:
result_df = result_df[['date','dow','city','total_carts','pure_carts','mix_carts','new_total_carts','new_pure_total_carts','new_mix_total_carts','qpc_total','qpc_pure','qpc_mix','cp_total','cp_pure',
                       'cp_mix','anticipated_lift_total','anticipated_lift_pure','anticipated_lift_mix','pure_ratio','mix_ratio']]
result_df.head()

,date,dow,city,total_carts,pure_carts,mix_carts,new_total_carts,new_pure_total_carts,new_mix_total_carts,qpc_total,qpc_pure,qpc_mix,cp_total,cp_pure,cp_mix,anticipated_lift_total,anticipated_lift_pure,anticipated_lift_mix,pure_ratio,mix_ratio
0,2023-03-25,5,All,5812,5501,311.000,9625.137,8238.801,705.196,0.604,0.668,0.441,0.411,0.395,0.489,0.656,0.498,1.268,0.957,0.043
1,2023-03-25,5,Ahmedabad,138,129,9.000,182.143,159.124,16.500,0.758,0.811,0.545,0.008,0.008,0.011,0.320,0.234,0.833,0.935,0.065
2,2023-03-25,5,Amritsar,7,7,0.000,7.090,7.109,0.000,0.987,0.985,0.000,0.000,0.000,0.000,0.013,0.016,0.008,1.000,0.000
3,2023-03-25,5,Bengaluru,1199,1108,91.000,1228.980,1108.237,129.717,0.976,1.000,0.702,0.053,0.053,0.090,0.025,0.000,0.425,0.924,0.076
4,2023-03-25,5,Bhopal,3,3,0.000,3.038,3.047,0.000,0.987,0.985,0.000,0.000,0.000,0.000,0.013,0.016,0.008,1.000,0.000

In [73]:
result_df.to_csv('city_raw.csv',index=False)